@font-face{
	font-family: "Raleway";
	src:url(Raleway-Regular.ttf)
}

@font-face{
	font-family: "RalewayBold";
	src:url(Raleway-Bold.ttf)
}

@font-face{
	font-family: "RalewayMed";
	src:url(Raleway-Medium.ttf)
}

body{
	margin: 0px;
	padding: 0px;
	font-family: "Raleway";
}

#line{
	border-bottom: 3px solid #000;
	width: 0px;
	position: fixed;
	top: 0px;
	z-index: 100; 
}

h2, h3{
	font-family: "RalewayBold";
}

dt{
	font-family: "RalewayMed";
}

.blue h2{
	color: #00aeef;
}

.blue #line{
	border-bottom: 3px solid #00aeef;
}

.pink h2{
	color: #ee2a7b;
}

.pink #line{
	border-bottom: 3px solid #ee2a7b;
}

.purple h2{
	color: #7f3f98;
}

.purple #line{
	border-bottom: 3px solid #7f3f98;
}

#container{
	width: 1000px;
	margin: 0 auto;
}

/*------HEADER------*/
header{
	margin: 30px 0 50px 0;
}

header h1{
	display: none;
}

header img{
	width: 60%;
	margin-left: 20%;
}

/*-----NAV-----*/
aside{
	width: 200px;
	float: left;
	position: fixed;
}

nav ul{
	margin-top: 0px;
	list-style: none;
}

nav li{
	line-height: 2em;
	text-transform: uppercase;
}

nav span{
	background-color: #fff;
	padding: 7px 0;
}

/*-----ANCHORS----- 18px*/

nav a{
	padding: 7px 0;
	transition: padding-left 0.2s;
	text-decoration: none;
	color: #ee2a7b;
}

nav a:hover{
	padding-left: 18px;
	background-size: 16px;
	background-image: url(../images/logo-small.gif);
	background-repeat: no-repeat;
	background-position: center left;
}

a:active{
	color: #A50D4C;
}

/*-----CONTENT-----*/
main{
	width: 800px;
	float: right;
	margin-bottom: 100px;
}

main h2{
	text-transform: uppercase;
	color: #000;
	margin: 0 0 25px;
}

main p{
	line-height: 1.5em;
}

p ~ h2{
	margin-top: 50px;
}

/*-----ABOUT-----*/
#about img{
	width: 100%;
}

/*-----CONTACT US-----*/
dt{
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 600;
}

dd{
	margin-left: 0px;
	margin-bottom: 20px;
}

/*-----MEMBERS-----*/
#members h2{
	margin-bottom: 5px;
}

#members em{
	display: block;
	margin-bottom: 20px!important;
}

#members h3{
	font-size: 2em;
	margin-bottom: 10px;
	display: inline;
}

#members p{
	margin: 0px;
}

#members article{
	padding-left: 280px;
	position: relative;
	min-height: 240px;
	margin-bottom: 100px;
}

#members article:last-child{
	margin-bottom: 50px;
}

#silverCrownFail img, #goldCrownFail img{
	position: static!important;
	height: 16px;
}

#members article img{
	max-height: 100px;
	max-width: 300px;
	position: absolute;
	bottom: 10px;
}

canvas{
	display: inline;
	height: 16px;
}

/*---STATS---*/
.stats{
	background-color: rgba(255,255,255, 0.7);
	min-height: 200px;
	width: 0px;
	position: absolute;
	bottom: 0px;
	z-index: 20;
	color: #FFF;
	opacity: 0;
}

.stats p{
	padding: 3px 0 3px 5px;
	margin: 3px 0!important;
	position: relative;
	white-space: nowrap;
}

.stats span{
	opacity: 0;
}

.stats span:last-child{
	position: absolute;
	right: 7px;
}

.p-atk, .m-atk{
	background-color: #00aeef;
}

.crit-chance, .crit-power, .lightcd{
	background-color: #ee2a7b;
}

.skill1, .skill2, .skill3{
	background-color: #7f3f98;
}

/*STAT SPACING*/
#Kaguyahime .skill1{
	margin-top: 33px!important;
}

#Aleshya .m-atk{
	margin-bottom: 33px!important;
}

/*-----MEDIA-----*/
#gallery img{
	width: 150px;
}

#gallery a img{
	opacity: 0.5;
}

#video{
	margin-bottom: 50px;	
}

#video sub{
	font-size: 0.7em;
}

video{
	width: 800px;
}

/*-----FAQ------*/
#faq h3{
	color: #7f3f98;
}

/*-----FOOTER-----*/
footer{
	width: 100%;
	overflow: auto;
	color: #FFF;
	background-color: #000;
}

.pink footer{
	background-color: #ee2a7b;
}

.blue footer{
	background-color: #00aeef;
}

.purple footer{
	background-color: #7f3f98;
}

footer p{
	width: 1000px;
	font-size: 0.7em;
	margin: 3px auto;
}